<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CharSort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>655F9DCF1D4C5D22007A7AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655F9DE61D4C5D22007A7AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655F9DFB1D4C7E12007A7AB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
